

<footer class="site-footer">
  <div class="footer-top">
    <div class="inner-wide">
      <div class="offsite-links">
        <a href="http://www.weibo.com/309954331" class="icon-chain"><span class="screen-reader-text">Weibo</span></a>
        <a href="http://www.twitter.com/asingersz" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
        <a href="https://www.facebook.com/asingers" class="icon-facebook"><span class="screen-reader-text">Facebook</span></a> 
        <!-- <a href="https://plus.google.com/101826267816845608605" class="icon-google"><span class="screen-reader-text">Google+</span></a> -->
        <!-- <a href="https://github.com/spaceg" class="icon-github"><span class="screen-reader-text">GitHub</span></a> -->
        <!-- <a href="https://medium.com/@lucasgatsas" class="icon-medium"><span class="screen-reader-text">Medium</span></a> -->
        <a href="http://instagram.com/jzyai1" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
        <!-- <a href="https://www.youtube.com/watch?v=3Zz7gLsN7fk" class="icon-youtube"><span class="screen-reader-text">YouTube</span></a> -->
        <a href="http://blog.9dic.com/feed.xml" class="icon-feed"><span class="screen-reader-text">RSS</span></a>
      </div><!-- .offsite-links -->
      <a href="#" class="top-link square icon-chevron-up" title="Back to Top"><span class="screen-reader-text">Back to the top</span></a>
    </div><!-- .inner -->
  </div><!-- .footer-top -->
  <div class="site-info inner-wide">
    <p>&copy;. 2015 - 2017 by <a href="index.html">   {{ site.title }} <!-- {{ site.description }} --> </a> <br>all rights reserved. <br /> <a target="_blank" href="http://blog.9dic.com"> {% include icon-github.html %}</a>
 </p>   
  </div><!-- .site-info -->
</footer><!-- .site-footer -->
<!-- jQuery -->

  <script src="http://7xqmgj.com1.z0.glb.clouddn.com/plugins-v=cba79c2df0.js"></script> 
  <script src="http://7xqmgj.com1.z0.glb.clouddn.com/custom-v=cba79c2df0.js"></script>
