<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Asingers</title>
	<meta name="description" content="Jane Doe is a reporter at The Curious magazine, where she writes about technology / design companies and the people they impact." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="http://ohdtph5g8.bkt.clouddn.com/favicon.ico">

	<link href="http://fonts.useso.com/css?family=Droid+Serif:400,400italic,700,700italic%7CMontserrat:400,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://ohdtph5g8.bkt.clouddn.com/style-v=cba79c2df0.css" />



	<!--[if lt IE 9]>
	<script src="../../assets/js/html5-v=cba79c2df0.js"></script>
	<![endif]-->


<style>

@media only screen and (min-width: 1400px){
.grid-item, .home-template .grid-item:nth-child(3n+1), .cover.page-header-1 {
    height: 500px;
    height: 450px;
    width: 100%;
}
}
</style>
</head>
<body class="author-template author-jane-doe">
	<div id="page" class="site">
    {% include header.html %}
<main class="site-main" role="main">
	<section class="site-content">
	
		<header class="cover page-header-1">
			<div class="cover-bg" style="background-image: url('http://7xqmgj.com1.z0.glb.clouddn.com/2016-11-03-02172_windydunes_1920x1080.jpg')"></div>
			<div class="cover-content">
				<div class="inner">
					<div class="post-count"></div>
					<h1 class="page-title">{{ site.title }} </h1>

					<script type="text/javascript">
                //###################################################################
                </script>
					<p><img src="http://www.lucasgatsas.ch/img/team1.jpg" alt="Jane Doe" class="author-avatar" /></p>
					<p class="page-description">Lucas Gatsas is a Swiss based Web - Developer, Front End Engineer & UI/UX Designer from St. Gallen, Switzerland.</p>
					<p class="author-links">
						<span class="author-location"><i class="icon-map-marker" aria-hidden="true"></i> St. Gallen, Switzerland</span>
						<span class="author-website"><i class="icon-chain" aria-hidden="true"></i> <a href="http://www.lucasgatsas.ch" target="_blank">http://www.lucasgatsas.ch</a></span>
					</p>
				</div><!-- .inner -->
			</div><!-- .cover-content -->
		</header><!-- .cover -->

		<div class="inner-wide">
			<div class="post-grid">

</div><!-- .post-grid -->


		</div><!-- .inner-wide -->

	</section><!-- .site-content -->
</main><!-- .site-main -->

</nav><!-- .site-navigation -->

		</div><!-- .widget-area -->
	</div><!-- .sidebar-scrollable -->
</div><!-- .sidebar -->



    {% include footer.html %}
